* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #0F0F0F;
    color: #F2F2F2;
    text-align: center;
    margin-bottom: 50px;
}

h1 {
    color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

h2 {
    color: #FFFFFF;
    margin-bottom: 35px;
    letter-spacing: 1px;
}

h3 {
    color: #FFFFFF;
    margin-top: 25px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.short-info {
    color: #B3B3B3;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 15px;
    line-height: 1.4;
}

.info {
    color: #B3B3B3;
    font-size: 14px;
    margin-top: 10px;
    line-height: 1.5;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding-block-end: 50px;
}

/* HEADER */
header {
    background-color: #111111;
    color: #F2F2F2;
    padding: 15px 0;
    margin-bottom: 25px;
    position: sticky;
    top: 0;
}

/* NAV */
nav {
    background-color: #1A1A1A;
    padding: 12px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #F2F2F2;
    text-decoration: none;
    font-size: 17px;
    letter-spacing: 1px;
}

nav ul li a:hover {
    color: #C40000;
}

/* CARD / WRAPPER */
.wrapper {
    max-width: 400px;
    background: #1A1A1A;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
    margin: 50px auto;
}

.wrapper h2 {
    color: #FFFFFF;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

/* FORM */
.wrapper form {
    display: flex;
    flex-direction: column;
}

/* FOOTER */
footer {
    background-color: #111111;
    color: #8F8F8F;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* CARDS */

.models-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 oszlop desktopon */
    gap: 25px;
    padding: 0 20px;
    text-align: center;
}

.model-card {
    background: #1A1A1A;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.model-card h3 {
    color: #FFFFFF;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

/* Kép a név alatt, teljes szélesség */
.model-card img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 10px;
}

/* Hover effekt */
.model-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.8);
    border-left: 4px solid #C40000;
}

.model-card:hover h3 {
    color: #C40000;
}

.contact-info {
    color: #B3B3B3;
    margin-bottom: 20px;
    padding: 10px;
}